<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <title>Conference app</title>
    </head>
    <body>
        <p>Navigation</p>

        {{{ body }}}

        <p>footer</p>
    </body>
</html>